.test_image_one{
    background-color: aqua;
    border-color: yellow;
    border-radius: 29px;
    width: 500px;
}

.header_div
{
border-radius: 3px;
border-color: azure;
background-color: white;
}

.test_image_two{
    background-color: crimson;
    border-color:crimson ;
    border-radius: 29px;
    width: 500px;
}

.test_image_three{
    background-color: pink;
    border-color:pink ;
    border-radius: 29px;
    width: 500px;
}

#goo
{
    width: 300px;
}

#go
{
    width: 300px;
}